@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-repeat: no-repeat;
  height: 60vh;
  background-size: cover;
}

.hero-1 {
  background-image: url(./../../public/hero1.jpg);
}
.hero-2 {
  background-image: url(./../../public/hero2.jpg);
}
.hero-3 {
  background-image: url(./../../public/hero3.jpg);
}
