@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  
}



.hero {
  background-repeat: no-repeat;
  height: 60vh;
  background-size:cover,
  
}

.hero-1 {
  background-image: url(./../../public/heroimg3.jpg);
}
.hero-2 {
  background-image: url(./../../public/heroimg2.jpg);
}
.hero-3 {
  background-image: url(./../../public/heroimg1.jpg);
}
